<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Information Diet | {{ page.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="http://informationdiet.fissiondev.com/resource/css/style.css">
	<script src="http://informationdiet.fissiondev.com/resource/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
<script type="text/javascript">
var _sf_startpt=(new Date()).getTime()
</script>
<div class="account_module" id="signup_slidedown" style="position: relative; display: none; color: white">                           
            <div id="sign_in_dropdown" style="top: 140px; position: absolute; left: 50%; margin-left: -155px; z-index: 10000;"></div>          
          </div>  
<div id="lightbox"></div>

<div id="container">
<header>
    <h1 class="site-name"><a title="Go to homepage" href="http://informationdiet.fissiondev.com/">The Information Diet</a></h1>
    <a class="button-red" href="http://informationdiet.fissiondev.com/diet">Go on the diet</a>
    <a class="button-blue" href="http://www.amazon.com/Information-Diet-Case-Conscious-Consumption/dp/1449304680/ref=sr_1_1?ie=UTF8&qid=1319741855&sr=8-1">Buy the Book</a>
        <nav id="navigation">
        <ul>
                                                <li><a href="http://informationdiet.fissiondev.com/">Home</a></li>
                                                <li><a href="http://informationdiet.fissiondev.com/blog">Blog</a></li>
                                                <li class="active"><a href="http://informationdiet.fissiondev.com/resources">Reader Resources</a></li>
                                                                            <li><a href="/about">About Clay</a></li>
                                                <li><a href="http://informationdiet.fissiondev.com/events">Events</a></li>
        
        </ul>
    </nav>
        <!-- // navigation -->

</header>

    
    <div id="main" role="main">
        <div class="content">

            <div class="content">
    <div class="basic-page">

            <div class="share">
    <div class="fb-like" style="float: left;" data-href="http://informationdiet.fissiondev.com/" data-send="false" data-layout="button_count" data-width="5" data-show-faces="false"></div>
<div style="float: left; margin-right: 35px;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</div>
<div style="float: left;">
    <g:plusone annotation="inline" width="120"></g:plusone>
</div>
    </div>
{{ content }}

   </div>
    <!-- // basic-page -->
                            
    <footer>
    <strong><a href="https://github.com/cjoh/informationdiet/tree/gh-pages">This is a github project that you can contribute to.</a></strong>
    <span>&copy; 2011 Clay Johnson</span>
</footer>
<!-- // footer -->

</div>
<!-- // content -->

        </div>
        <!-- // content -->
		        <div class="sidebar">
		    <div class="blog-sidebar">
		                <h3>From the book</h3>
		        <ul>
		            <li><a href="/endnotes.html">Endnotes</a></li>
		            <li><a href="/errata.html">Errata</a></li>
		        </ul>
		            <h3>Online Resources</h3>
		        <ul>
			        <li><a href="/people.html">People in the Book and Beyond</a></li>
		            <li><a href="/blogs.html">Blogs from the Book and Beyond</a></li>
		            <li><a href="/tools.html">Tools you can use</a></li>
		            <li><a href="/books.html">Other Books to Read</a></li>
		            <li><a href="/essays.html">Particularly Great Essays</a></li>
					<li><a href="/nonprofits.html">Non-profits Worthy of your Money</a></li>
		        </ul>
		<ul><li><a href="/contributing.html">Contributing to this resources</a></li></ul>
		
		            </div>
		</div>
		<!-- // sidebar -->

    </div>
    <!-- // main -->

</div>
<!-- // container -->


<script src="http://informationdiet.fissiondev.com/resource/js/libs/jquery-1.6.2.min.js"></script>
<!-- scripts concatenated and minified via ant build script-->
<script src="http://informationdiet.fissiondev.com/resource/js/plugins.js"></script>
<script src="http://informationdiet.fissiondev.com/resource/js/script.js"></script>
<script type="text/javascript" src="http://informationdiet.fissiondev.com/resource/account/js/account.js?v=42456"></script> 
<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/javascript">
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>

<script type="text/javascript">
var connect_create = 1;
connect_create_redirect = "";
</script>

 <script type="text/javascript">var _sf_async_config={uid:8631,domain:"informationdiet.com"};(function(){  function loadChartbeat() {    window._sf_endpt=(new Date()).getTime();    var e = document.createElement('script');    e.setAttribute('language', 'javascript');    e.setAttribute('type', 'text/javascript');    e.setAttribute('src',       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +       "js/chartbeat.js");    document.body.appendChild(e);  }  var oldonload = window.onload;  window.onload = (typeof window.onload != 'function') ?     loadChartbeat : function() { oldonload(); loadChartbeat(); };})();
  </script>
 <script type="text/javascript">
    var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-16970833-2']);  _gaq.push(['_setDomainName', 'informationdiet.com']);  _gaq.push(['_trackPageview']);
    (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();
</script>


<!-- end scripts-->

</body>
</html>