<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Information Diet | {{ post.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="http://www.informationdiet.com/resource/css/style.css">
	<script src="http://www.informationdiet.com/resource/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
	<style>
		header .button-gold {
			float: right;
			padding: 0 28px;
			position: relative;
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
			font: 18px/42px HelveticaNeueLTStd-MdCn, Arial, Helvetica, sans-serif;
			background: #EE7600;
		}
		header .button-gold:hover {
			background: #FB9E4B;
		}
		</style>
<div id="all">
<script type="text/javascript">
var _sf_startpt=(new Date()).getTime()
</script>
<div class="account_module" id="signup_slidedown" style="position: relative; display: none; color: white">                           
            <div id="sign_in_dropdown" style="top: 140px; position: absolute; left: 50%; margin-left: -155px; z-index: 10000;"></div>          
          </div>  
<div id="lightbox"></div>

<div id="container">
<header>
    <h1 class="site-name"><a title="Go to homepage" href="/">The Information Diet</a></h1>
    <a class="button-red" href="/diet">Go on the diet</a>
    <a class="button-blue" href="http://amzn.to/vWWtIe">Buy the Book</a>
	<a class="button-gold" href="https://github.com/cjoh/informationdiet/tree/gh-pages">Fork This on Github</a>
        <nav id="navigation">
        <ul>
                                                <li><a href="http://www.informationdiet.com/">Home</a></li>
                                                                            <li class="active"><a href="http://www.informationdiet.com/blog">Blog</a></li>
                                                <li><a href="http://resources.google.com">Reader Resources</a></li>
                                                <li><a href="http://www.informationdiet.com">About Clay</a></li>
                                                <li><a href="http://www.informationdiet.com">Events</a></li>
        
        </ul>
    </nav>
        <!-- // navigation -->

</header>

    <div></div>
    <div id="main" role="main">
        <div class="content">

            <div class="basic-page">
    <div class="share">

<span class='st_fblike_hcount'></span>
<span class='st_twitter_hcount'></span>
<span class='st_plusone_hcount'></span>
<span class='st_email_hcount'></span>
<!--span class='st_sharethis_hcount'></span-->


</div>

{{ content }}
</div>
<!-- // blog-page -->


        </div>
        <!-- // content -->
        <div class="sidebar">
    <div class="blog-sidebar">
{% include sidebar.markdown %}
            </div>
</div>
<!-- // sidebar -->
    </div>
    <!-- // main -->

</div>
<!-- // container -->


<script src="http://www.informationdiet.com/resource/js/libs/jquery-1.6.2.min.js"></script>
<!-- scripts concatenated and minified via ant build script-->
<script src="http://www.informationdiet.com/resource/js/plugins.js"></script>
<script src="http://www.informationdiet.com/resource/js/script.js"></script>
<script type="text/javascript" src="http://www.informationdiet.com/resource/account/js/account.js?v=1"></script> 
<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/javascript">
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>

<script type="text/javascript">
var connect_create = 1;
connect_create_redirect = "";
</script>

 <script type="text/javascript">var _sf_async_config={uid:8631,domain:"informationdiet.com"};(function(){  function loadChartbeat() {    window._sf_endpt=(new Date()).getTime();    var e = document.createElement('script');    e.setAttribute('language', 'javascript');    e.setAttribute('type', 'text/javascript');    e.setAttribute('src',       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +       "js/chartbeat.js");    document.body.appendChild(e);  }  var oldonload = window.onload;  window.onload = (typeof window.onload != 'function') ?     loadChartbeat : function() { oldonload(); loadChartbeat(); };})();
  </script>
 <script type="text/javascript">
    var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-16970833-2']);  _gaq.push(['_setDomainName', 'informationdiet.com']);  _gaq.push(['_trackPageview']);
    (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();
</script>

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "a04631d5-3455-4139-ad8e-28c17be25aa2"}); </script>

<!-- end scripts-->
</div>
    <a class="home-btn" href="/">Home</a>
</body>
</html>
